.home {
  // .home__wrapper
  &__wrapper {
    margin-bottom: 50px;
    @media (min-width: 992px) {
      display: flex;
      justify-content: space-between;
    }
  }
  // .home__this-day
  &__this-day {
    width: 100%;
    max-width: 400px;
    @media (min-width: 992px) {
      margin-right: 15px;
    }
    @media (max-width: 992px) {
      max-width: 100%;
      margin-bottom: 30px;
    }
  }
  // .home__this-day-info
  &__this-day-info {
    position: relative;
    width: 100%;
    max-width: 750px;
    padding: 40px;
    overflow: hidden;
    background: var(#{--components-background-default});
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    @media (max-width: 992px) {
      max-width: 100%;
      padding: 25px;
    }
    @media (max-width: 480px) {
      padding: 25px 15px;
    }
  }
  // .home__days
  &__days {
  }
  // .home__hourly-weather
  &__hourly-weather {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
  // .home__daily-weather
  &__daily-weather {
  }
}
.this-day {
  padding: 20px;
  background: var(#{--components-background-default});
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  @media (max-width: 480px) {
    padding: 15px;
  }
  // .this-day__top
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    img {
      display: block;
      width: 119px;
      height: 119px;
      object-fit: cover;
    }
  }
  // .this-day__wrapper
  &__wrapper {
  }
  // .this-day__temp
  &__temp {
    font-size: 96px;
    font-weight: 500;
    color: $primary-color;
    @media (max-width: 768px) {
      font-size: 74px;
    }
    @media (max-width: 480px) {
      font-size: 60px;
    }
  }
  // .this-day__name
  &__name {
    font-size: 40px;
    color: var(#{--text-color-default});
    @media (max-width: 768px) {
      font-size: 34px;
    }
    @media (max-width: 480px) {
      font-size: 26px;
    }
  }
  // .this-day__bottom
  &__bottom {
    .this-day__time,
    .this-day__city {
      font-size: 25px;
      color: $base-color;
      @media (max-width: 480px) {
        font-size: 22px;
      }
    }
  }
  // .this-day__time
  &__time {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  // .this-day__city
  &__city {
  }
}
.this-day-info {
  // .this-day-info__items
  &__items {
  }
  // .this-day-info__cloud-img
  &__cloud-img {
    position: absolute;
    top: 0;
    right: -70px;
    pointer-events: none;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.item-this-day {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  &:last-of-type {
    margin-bottom: 0;
  }
  // .item-this-day__indicator, .item-this-day__indicator-name
  &__indicator,
  &__indicator-name {
    margin-right: 20px;
    @media (max-width: 768px) {
      margin-right: 12px;
    }
  }
  // .item-this-day__indicator
  &__indicator {
    display: flex;
    flex: 0 0 38px;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
  }
  // .item-this-day__indicator-name, .item-this-day__indicator-value
  &__indicator-name,
  &__indicator-value {
    font-size: 16px;
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
  // .item-this-day__indicator-name
  &__indicator-name {
    color: $base-color;
  }
  // .item-this-day__indicator-value
  &__indicator-value {
    color: var(#{--text-color-default});
  }
}
.hourly-weather {
  // .hourly-weather__title
  &__title {
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: 700;
    color: var(--text-color-default);
    letter-spacing: 1px;
  }
}
.hourly {
  // .hourly__items
  &__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    overflow-x: auto;
    background-color: var(#{--components-background-default});
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: $box-shadow;
    @media (max-width: 480px) {
      padding: 15px;
      border-radius: 0;
    }
  }
  // .hourly__item
  &__item {
  }
}
.item-hourly {
  display: flex;
  flex: 0 0 149px;
  flex-direction: column;
  min-height: 230px;
  padding: 15px;
  background-color: var(#{--card-background-default});
  border-radius: 10px;
  transition: 0.3s;
  &:not(:last-child) {
    margin-right: 15px;
  }
  // .item-hourly__date
  &__date {
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 500;
    color: var(#{--text-color-default});
  }
  // .item-hourly__time
  &__time {
    font-size: 14px;
    font-weight: 600;
    color: $base-color;
  }
  // .item-hourly__image-wrapper
  &__image-wrapper {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
  // .item-hourly__wind
  &__wind {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
    color: $base-color;
  }
  // .item-hourly__degrees
  &__degrees {
    font-size: 26px;
    font-weight: 500;
    color: $base-color;
  }
}
.daily-weather {
  // .daily-weather__title
  &__title {
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: 700;
    color: var(--text-color-default);
    letter-spacing: 1px;
  }
}
.daily {
  // .daily__items
  &__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    overflow-x: auto;
    background-color: var(#{--components-background-default});
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: $box-shadow;
    @media (max-width: 480px) {
      padding: 15px;
      border-radius: 0;
    }
  }
  // .daily__item
  &__item {
  }
}
.item-daily {
  display: flex;
  flex: 0 0 149px;
  flex-direction: column;
  min-height: 230px;
  padding: 15px;
  background-color: var(#{--card-background-default});
  border-radius: 10px;
  transition: 0.3s;
  &:not(:last-child) {
    margin-right: 15px;
  }
  // .item-daily__date
  &__date {
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 500;
    color: var(#{--text-color-default});
  }
  // .item-daily__day
  &__day {
    font-size: 14px;
    font-weight: 600;
    color: $base-color;
  }
  // .item-daily__image-wrapper
  &__image-wrapper {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
  // .item-daily__degrees
  &__degrees {
    font-size: 26px;
    font-weight: 500;
    color: $base-color;
  }
}
